* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

#button {
  background-color: #0063ff;
  color: white;
  padding: 5px 20px;
}

a {
  text-decoration: none;
}

/* -------------------------------------------- */

.header-contained {
  margin: 30px 20px;
}

.page-navbar a {
  vertical-align: middle;
  margin-left: 40px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
